<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>MyProject</display-name>

  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>it.project.controller.UserController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>fileModel</servlet-name>
    <servlet-class>it.project.controller.FileController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>event</servlet-name>
    <servlet-class>it.project.controller.EventController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>fileController2</servlet-name>
    <servlet-class>it.project.controller.FileController2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/api/v1/user</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>fileModel</servlet-name>
    <url-pattern>/api/v1/fileModel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>event</servlet-name>
    <url-pattern>/api/v1/event</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>fileController2</servlet-name>
    <url-pattern>/api/v1/file2</url-pattern>
  </servlet-mapping>

</web-app>
